server:
  port: 8730

spring:
  application:
    name: gateway

  security:
    user:
      name: packy
      password: packy

  cloud:
    consul:
      host: 192.168.179.111
      port: 8500
      discovery:
        service-name: ${spring.application.name}
        health-check-path: /actuator/health
        health-check-timeout: 5s
        health-check-interval: 1000s
    gateway:
#      discovery:
#        locator:
#          enabled: true
#          lower-case-service-id: true
#          filters:
#            - args:
#                parts: 1
#              name: StripPrefix
      routes:
        - id: auth_route
          uri: lb://auth-center
          predicates:
            - Path=/auth/**
          filters:
            - args:
                regexp: /auth/(?<oldUrl>.*/)
                replacement: /auth-center/$\{oldUrl}
              name: RewritePath

  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java
      exclude: WEB-INF/**

  messages:
    basename: i18n/messages
    encoding: UTF-8
    cache-duration: 30m
    use-code-as-default-message: false

#Spring actuator config
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "*"
        exclude: "env"

logging:
  config: classpath:log/logback-spring.xml
